

.lanebox.Desktop_Mobile
{
	fill:grey;
	stroke:white;
	
}

.lanebox.Collaboration{
	fill:grey;
	stroke:white;
}

.lanebox.BusinessIntelligence{
	fill:grey;
	stroke:white;
}

.lanebox.ServiceDesk{
	fill:grey;
	stroke:white;
}


