
body {
  font-family: arial, sans-serif; 
  }
svg {
  font-family:arial, sans-serif; 
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.y.axis path {
  display: none;
}

.y.axis line {
  stroke: #777;
  stroke-dasharray: 2,2;
}



.planned{
			stroke:goldenrod;
			stroke-width:0.5px;
			fill:goldenrod;
			opacity:0.5;
		}

.delayed{
			stroke:red;
			stroke-width:0.5px;
			fill:red;
			opacity:0.5;
		}

.future{
			stroke:grey;
			stroke-width:0.5px;
			fill:grey;
			opacity:0.5;
		}

.done{
			stroke:green;
			stroke-width:0.5px;
			fill:green;
			opacity:0.5;
		}
.todo{
			stroke:grey;
			stroke-width:0.5px;
			fill:grey;
			opacity:0.5;
		}

.doneQueue{
			stroke:green;
			stroke-width:0.5px;
			fill:green;
			opacity:0.1;
		}

.wipQueue{
			stroke:yellow;
			stroke-width:0.5px;
			fill:yellow;
			opacity:0.1;
		}

.futureQueue{
			stroke:red;
			stroke-width:0.5px;
			fill:red;
			opacity:0.1;
		}


.monthGuide {
	stroke: #dddddd;
	stroke-width: 0.25;
}
.yearGuide {
	stroke: #999999;
	stroke-width: .5;
}


.gridTop {
	stroke: black;
	stroke-width: 1;
	stroke-opacity:1;
}

.todayLine {
	stroke: red;
	stroke-width: 2;
	stroke-opacity:0.5;
}

.wipLine {
	stroke: red;
	stroke-width: 2;
	stroke-dasharray: 5,5;
	stroke-opacity:0.5;
}

.delayLine {
	stroke: red;
	stroke-width: 0.8;
	stroke-dasharray: 3,3
}

.delayLineDone {
	stroke: green;
	stroke-width: 0.8;
	stroke-dasharray: 3,3
}


.sublaneLine {
	stroke: #aaaaaa;
	stroke-width: 0.2;
	stroke-dasharray: 5,5;
	stroke-opacity:0.6;
}

.themeLine {
	stroke: #eeeeee;
	stroke-width: 2;
	stroke-dasharray: 5,5;
	stroke-opacity:1;
}


.dependLine {
	stroke: grey;
	stroke-width: .75;
	stroke-dasharray: 3,2;
}

.releaseLine {
	stroke: blue;
	stroke-width: 1.5;
	stroke-dasharray: 10,5;
	opacity:0.5;
}

.legendLine {
	stroke: black;
	stroke-width: .5;
	
}



.todayText{
	font-size:8px;
	font-weight:bold;
	fill:red;
	text-anchor:middle;
}


		
.metricBigNumber {
	font-size:20px;
	font-weight:bold;
	text-anchor:end;
}

.metricBigScale {
	font-size:6px;
	font-weight:normal;
}

.metricBigType {
	font-size:10px;
	font-weight:bold;
}


.metricSmallNumber {
	font-size:12px;
	font-weight:bold;
	text-anchor:end;
}

.metricSmallScale {
	font-size:4px;
	font-weight:normal;
}

.metricSmallType {
	font-size:6px;
	font-weight:bold;
}



.metricItems {
	font-size:6px;
	font-weight:bold;
}


.d3tooltip{
	position:absolute;
	z-index:10;
	visibility:hidden;
	fill:white;
	width:120px;
	wight:80px;
	font-size:7px;
	padding:4px;
	background:white;
	border:.5px solid grey;
	border-radius:5px;
	opacity:0.9;
}	


/* Creates a small triangle extender for the tooltip */
.d3tooltip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 12px;
  width: 100%;
  line-height: 0;
  color: #333333;
  content: "\25C0";
  position: absolute;
  text-align: left;
  margin: -60px 0 0 -11px;
  top: 100%;
  left: 0;
}





.contextbox{
	fill:grey;
	stroke:white;
	opacity: .1;
	cursor:pointer;
}

table      { width:110px;
			 border: outset 0px; 
             word-wrap:break-word;
             table-layout:fixed;
             border-collapse: separate;
             border-spacing: 0px }
td         { border: 0px solid black;
			 overflow:hidden;
			 word-wrap:break-word;
			 vertical-align:top;
			 }
td.small    { font-size: 6px;
			  font-weight:normal;
			  text-align:right;
			  vertical-align:top;
			  padding-right: 5px;}

td.bold		{font-weight:bold;
			vertical-align:top;
			}
			  			 
			 
tr.header	{line-height:13px;
			
			 padding: 0 0 0 0;}
tr	{line-height:8px;
			 padding: 0 0 0 0;}


.indicator
{
  float:left;
  height: 13px; /* or whatever you want */
  position:relative;
  background-color: red;
  width: 5px; /* or whatever you want */
}


pre.prettyprint{padding:2px;border:1px solid #888}


/* linechart experimeents*/
.line {
  fill: none;
  stroke: black;
  stroke-width: 2.5px;
  }

.area {
    fill: black;
    stroke-width: 0;
    opacity:0.5;
}
